VITE_FIREBASE_API_KEY=AIzaSyCbcswn5wpeRr9sy8bzZP0O4w9V8U0u4AE
VITE_FIREBASE_AUTH_DOMAIN=blindcode-2f539.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=blindcode-2f539
VITE_FIREBASE_STORAGE_BUCKET=blindcode-2f539.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=37693636796
VITE_FIREBASE_APP_ID=1:37693636796:web:e0a56acc0d3bbc7c41d0b9
VITE_FIREBASE_MEASUREMENT_ID=G-Z5WFF3FGCJ
VITE_API_URL=https://blindcode-sympo.onrender.com/api